<div class="navbar bg-base-300/70 top-0 w-full fixed p-2">
  <div class="navbar-start">
    <div class="dropdown">
      <!-- Dropdown-->
      <div
        tabindex="0"
        role="button"
        class="btn btn-ghost px-2 lg:hidden swap swap-rotate"
      >
        <svg
          class="swap-off fill-current"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 512 512"
        >
          <path
            d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
          />
        </svg>
      </div>

      <!-- Dropdown menu -->
      <ul
        tabindex="0"
        class="menu menu-sm swap-on dropdown-content mt-3 z-[1] p-2 shadow bg-base-300/70 rounded-box w-52"
      >
        <li><a>Item 1</a></li>
        <li>
          <a>Parent</a>
          <ul class="p-2">
            <li><a>Submenu 1</a></li>
            <li><a>Submenu 2</a></li>
          </ul>
        </li>
        <li><a>Item 3</a></li>
      </ul>
    </div>
    <a
      class="btn btn-ghost text-xl pl-2"
      hx-get="pages/hero.html"
      hx-target="#hero"
      hx-swap="innerHTML show:window:top"
      >tejas kamtam</a
    >
  </div>
  <!-- Navbar on Desktop -->
  <div class="navbar-end hidden lg:flex">
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <a
            hx-get="pages/projects.html"
            hx-target="#projects"
            hx-swap="innerHTML show:#projects-div:top"
            >projects</a
          >
        </li>
        <li>
          <details>
            <summary>Parent</summary>
            <ul class="p-2 bg-base-100 rounded-t-none">
              <li><a>Link 1</a></li>
              <li><a>Link 2</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div>
  <!-- CTA Button on Both -->
  <div class="tooltip tooltip-bottom flex mr-2" data-tip="G Drive">
    <a
      class="btn bg-primary w-auto"
      href="https://drive.google.com/file/d/1kfh9ojHGh99wd-NOIzvYAtCu5yzZF7Sw/view?usp=sharing"
      target="_blank"
      rel="noopener noreferrer"
      >Resume
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-4 h-4"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
        />
      </svg>
    </a>
  </div>
</div>
