<!DOCTYPE html>
<html lang="en" data-theme="dracula">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tejas Kamtam</title>
    <link href="public/favicon.ico" rel="shortcut icon" />
    <link href="public/favicon.ico" rel="icon" />
    <link href="styles/output.css" rel="stylesheet" />
  </head>
  <body>
    <header class="fixed z-50 top-0">
      <!-- import navbar from components -->
      <section
        id="navbar"
        hx-get="components/navbar.html"
        hx-swap="innerHTML"
        hx-trigger="load"
      ></section>
    </header>
    <main id="main-body">
      <section
        id="hero"
        hx-get="pages/hero.html"
        hx-swap="innerHTML"
        hx-trigger="load"
      ></section>
      <div id="projects-div" class="h-[78px]"></div>
      <section
        id="projects"
        hx-get="pages/projects.html"
        hx-swap="innerHTML"
        hx-trigger="load"
      ></section>
    </main>
    <footer>
      <section
        hx-get="components/footer.html"
        hx-swap="innerHTML"
        hx-trigger="load"
      ></section>
    </footer>
    <script src="scripts/htmx.min.js"></script>
  </body>
</html>
