<!DOCTYPE html>
<html lang="en" data-theme="dracula">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tejas Kamtam</title>
    <link href="public/favicon.ico" rel="shortcut icon" />
    <link href="public/favicon.ico" rel="icon" />
    <link href="styles/output.css" rel="stylesheet" />
  </head>
  <body class="">
    <header>
      <!-- import navbar from components -->
      <div hx-get="components/navbar.html" hx-swap="innerHTML" hx-trigger="load"></div>
    </header>
    <main id="main-body">
      <section>
        <h1 class="text-3xl font-bold underline">Hello world!</h1>
        <button class="btn bg-primary" hx-get="styles/input.css" hx-swap="innerHTML">
          STYLES
        </button>
      </section>
    </main>
    <footer>
      <nav></nav>
    </footer>
    <script src="scripts/htmx.min.js"></script>
  </body>
</html>
